# add to .gitignore
models/
.env.example

# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
.venv/
env/

# ------------------------------
# VS Code
# ------------------------------
.vscode/
