# add to .gitignore
models/
.env.example

# ===========================
# Training Outputs
# ===========================
training/logs/

# TensorBoard
runs/
tensorboard/
*.tfevents*

# MLflow
mlruns/


# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------------------
# Virtual Environment
# ------------------------------
venv/
.venv/
env/

# ------------------------------
# VS Code
# ------------------------------
.vscode/
